<%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/users.css">
<%- include("includes/nav.ejs") %>
    <main>
        <h1 class="head">Users List Here</h1>
        <% if (users.length > 0) { %>
            <ul>
                <% for (let user of users) { %>
                    <li><%= user.userName %> </li>
                <%} %>
            </ul>
        <%} else { %>
            <h1>No Users Found!</h1>
        <%} %>
        
    </main>
<%- include("includes/end.ejs") %>

<!-- <% if (users.length > 0) { %>
    <% for (let user of users) { %>
        <div>
            <ul>
                <li><%= user.title %></li>
            </ul>
        </div>
    <%} %>
<%} else { %> 
    <h1>No user Listed</h1>
<%}%> -->